<section class="recipe">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card class="recipe__card">
    <mat-card-header>
      <mat-card-title>{{ cocktail.strDrink }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ cocktail.strDrinkThumb }}"  class="recipe__card--image" />
    <mat-card-content>
      <p>{{ cocktail.strInstructions }}</p>
      <p>{{ cocktail.strMeasure1 }}{{ cocktail.strIngredient1 }}</p>
      <p>{{ cocktail.strMeasure2 }}{{ cocktail.strIngredient2 }}</p>
      <p>{{ cocktail.strMeasure3 }}{{ cocktail.strIngredient3 }}</p>
      <p>{{ cocktail.strMeasure4 }}{{ cocktail.strIngredient4 }}</p>
      <p>{{ cocktail.strMeasure5 }}{{ cocktail.strIngredient5 }}</p>
      <p>{{ cocktail.strMeasure6 }}{{ cocktail.strIngredient6 }}</p>
      <p>{{ cocktail.strMeasure7 }}{{ cocktail.strIngredient7 }}</p>
      <p>{{ cocktail.strMeasure8 }}{{ cocktail.strIngredient8 }}</p>
      <p>{{ cocktail.strMeasure9 }}{{ cocktail.strIngredient9 }}</p>
      <p>{{ cocktail.strMeasure10 }}{{ cocktail.strIngredient10 }}</p>
      <p>{{ cocktail.strMeasure11 }}{{ cocktail.strIngredient11 }}</p>
      <p>{{ cocktail.strMeasure12 }}{{ cocktail.strIngredient12 }}</p>
      <p>{{ cocktail.strMeasure13 }}{{ cocktail.strIngredient13 }}</p>
      <p>{{ cocktail.strMeasure14 }}{{ cocktail.strIngredient14 }}</p>
      <p>{{ cocktail.strMeasure15 }}{{ cocktail.strIngredient15 }}</p>
    </mat-card-content>
  </mat-card>
</section>

